.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.item.checked {
  color: var(--gray-5);
  text-decoration: line-through;
}

.item a {
  color: inherit;
}

.item a:hover {
  text-decoration: none;
}

.checkbox {
  position: absolute;
  display: flex;
  inset-inline-end: var(--size-4);
  scale: 1.6;
  top: 50%;
  translate: 0 -50%;
}
