.card {
  background-color: var(--gray-2);
  color: var(--gray-7);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-5);
  border-radius: var(--radius-2);
  padding: var(--size-3);
  box-shadow: var(--shadow-2);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all 200ms var(--ease-3);
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: var(--gray-8);
    color: var(--gray-2);
  }
}

.card:hover {
  text-decoration: none;
  box-shadow: var(--shadow-3);
}

a.card,
.card a {
  color: inherit;
}

a:hover.card,
.card a:hover {
  text-decoration: none;
}

.card.checked {
  color: var(--gray-5);
  text-decoration: line-through;
}

.card.isOwn {
  background-color: var(--gray-3);
}

@media (prefers-color-scheme: dark) {
  .card.isOwn {
    background-color: var(--gray-7);
  }
}

.link a::after {
  content: "";
  position: absolute;
  inset: 0;
}
