.card {
  background-color: var(--gray-2);
  color: var(--gray-7);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-5);
  border-radius: var(--radius-2);
  padding: var(--size-3);
  box-shadow: var(--shadow-2);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  opacity: 0;
  animation: var(--animation-fade-in) forwards, var(--animation-slide-in-up);
  animation-timing-function: var(--ease-squish-3);
  animation-duration: 1s;
  animation-delay: calc(var(--_index, 0) * 100ms);
  transition: all 200ms var(--ease-3);
}

.card:hover {
  text-decoration: none;
  box-shadow: var(--shadow-3);
}

a.card,
.card a {
  color: inherit;
}

a:hover.card,
.card a:hover {
  text-decoration: none;
}

.card.checked {
  color: var(--gray-5);
  text-decoration: line-through;
}

.link a::after {
  content: "";
  position: absolute;
  inset: 0;
}
