.dialog {
  inline-size: 100%;
  max-inline-size: min(calc(100vw - var(--size-4) * 2), 32rem);
  opacity: 0;
  animation: var(--animation-fade-in) forwards, var(--animation-slide-in-up);
  animation-timing-function: var(--ease-squish-3);
  animation-duration: 1s;
}

.body {
  display: grid;
  gap: var(--size-4);
}

.title {
  display: flex;
  justify-content: space-between;
}
