.primary {
  --_bg: linear-gradient(var(--blue-5), var(--blue-7));
  --_text: var(--blue-0);
  --_border: var(--blue-6);
}

.secondary {
  --_bg: linear-gradient(var(--gray-1), var(--gray-2));
  --_text: var(--gray-6);
  --_border: var(--gray-2);
}

.danger {
  --_bg: linear-gradient(var(--red-5), var(--red-7));
  --_text: var(--red-0);
  --_border: var(--red-6);
}
