.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.loggedIn {
  justify-content: space-between;
}

.title {
  font-size: var(--font-size-4);
}

.title a {
  color: var(--orange-6);
}

.title a:hover {
  text-decoration: none;
}

.user {
  display: flex;
  align-items: center;
  gap: var(--size-2);
}

.user p {
  font-size: var(--font-size-0);
  color: var(--gray-6);
  display: none;
}

@media (min-width: 64rem) {
  .user p {
    display: block;
  }
}

.user img {
  --_highlight-size: 0;
  --_highlight-light: rgba(174, 181, 188, 0.25);
  --_highlight-dark: rgba(11, 13, 14, 0.25);
  --_highlight: var(--_highlight-light);
  width: var(--size-8);
  border-radius: var(--radius-6);
  box-shadow: var(--shadow-3), var(--shadow-3);
  box-shadow: var(--shadow-2), 0 1px var(--surface-3),
    0 0 0 var(--_highlight-size) var(--_highlight);
  transition: all 200ms var(--ease-3);
}

.user img:hover {
  --_highlight-size: var(--size-2);
}
