@import "open-props/style";
@import "open-props/normalize";
@import "open-props/buttons";

:root {
  --gap-1: var(--size-2);
  --gap-2: var(--size-3);
  --gap-3: var(--size-4);
  --gap-4: var(--size-6);
}

body {
  font-family: "Poppins", sans-serif;
  accent-color: var(--orange-5);
}

h1 {
  font-weight: var(--font-weight-5);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-3);
}

a,
a:visited {
  color: var(--orange-6);
  text-decoration-color: var(--orange-3);
}

button {
  font-weight: var(--font-weight-5);
  text-shadow: none;
}

.main {
  display: grid;
  gap: var(--gap-4) 0;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: var(--gap-2) calc(100% - 2 * var(--gap-2)) var(--gap-2);
  padding-block: var(--gap-2);
  min-block-size: 100vh;
}

.main > * {
  grid-column: 2;
}
